.main{
 border: 1px solid black;
	margin: auto;
	width: 60%;
	text-align: center;
}
.img{
	text-align: center;
}
div.container
{
	background-color:#006080;
	height:1000px;
	width:700px;
}